

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Full Name</label><br />
                        <input type="text" class="form-control txtFilterFullName" />
                    </div>
                    <div class="col-md-3">
                        <label>Contact No</label><br />
                        <input type="text" class="form-control txtFilterContactNo" />
                    </div>
                    <div class="col-md-3">
                        <br />
                        <button type="button" class="btn btn-primary btnSearch">
                            <i class="fa fa-search"></i> Search
                        </button>
                         <button type="button" class="btn btn-success btnNew">
                            <i class="fa fa-plus"></i> NEW
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-hover dtTable">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Contact No</th>
                            <th>Statement</th>
                            <th>Address</th>
                            <th>CustomerNo</th>
                            <th>IssueDate</th>
                            <th>CreatedDate</th>
                            <th>ComplainType</th>                           
                        </tr>
                    </thead>
                    <tbody class="data-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="mdlSetup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Complain </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">Customer No</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtCustomerNo" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Complain Type</div>
                                    <div class="col-md-9">
                                        <select class="form-control ddlComplainType">
                                        </select>                              
                                    </div>
                                </div>
                         
                                <div class="row mt-2">
                                    <div class="col-md-3">Issue Date</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtIssueDate nepdate-picker" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Created Date</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtCreatedDate nepdate-picker" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">Fullname</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtFullname" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Email</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtEmail" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Contact No</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtContactNo" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Address</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtAddress" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">Statement</div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control txtStatement" />
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                    </div>

                  @*   <div class="main-container">
                        <div id="editor">                            
                            <input type="text" class="form-control txtStatement" />
                            <textarea  placeholder="why i am unable to write??????!!!!!!!!!!" class="form-control txtStatement"></textarea>                             
                        </div>
                    </div>
                     *@


                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="hdnId" value=0 />
                <button type="button" class="btn btn-secondary btnClose">Close</button>
                <button type="button" class="btn btn-primary btnSave">Save changes</button>
            </div>
        </div>
    </div>
</div>




@section LocalScripts {
    <script>
        $(document).ready(function () {
            loadComplainType();
            loadData();
            // currentDate();
            // loadUserGroups();
        });

        $(document).on('click', '.btnSearch', function () {
            loadData();
        })

        $(document).on('click', '.btnNew', function () {
            $('#mdlSetup').modal('show');
        });

        $(document).on('click', '.btnClose', function () {
            var ok = confirm('Are you sure to clear form?')
            if (ok) {
                clearForm();
            }
        })

        $(document).on('click', '.btnSave', function () {

            // var id = $('.hdnId').val();

            // var obj = {
            //     ComplainId: +$('.hdnId').val() || '0',
            //     Fullname: $('.txtFullname').val() || '',
            //     Email: $('.txtEmail').val() || '',
            //     ContactNo: $('.txtContactNo').val() || '',
            //     Statement: $('.txtStatement').val() || '',
            //     Address: $('.txtAddress').val() || '',
            //     CustomerNo: $('.txtCustomerNo').val() || '',
            //     IssueDate: $('.txtIssueDate').val() || '',
            //     CreatedDate: $('.txtCreatedDate').val() || '',
            //     ComplainTypeID: $('.ddlComplainType').val() || '0'
            //     // address: $('.txtAddress').val() || '',
            // };


            var obj = {
                ComplainId: +$('.hdnId').val() || 0,
                Fullname: $('.txtFullname').val() || '',
                Email: $('.txtEmail').val() || '',
                ContactNo: $('.txtContactNo').val() || '',
                Statement: $('.txtStatement').val() || '',
                Address: $('.txtAddress').val() || '',
                CustomerNo: +$('.txtCustomerNo').val() || 0,
                IssueDate: $('.txtIssueDate').val() || '',
                CreatedDate: $('.txtCreatedDate').val() || '',
                ComplainTypeID: +$('.ddlComplainType').val() || 0
            };

            if (obj.fullname == '') {
                alert('Enter Fullname')
            } else if (obj.complainTypeCode == '' || obj.complainTypeCode == '0') {
                alert('Enter User complain Type Code ')
            }
            else {
                $.ajax({
                    method: 'post',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("Save", "Complain")',
                    data: JSON.stringify(obj),
                    beforeSend: function () {
                        $.blockUI();
                    },
                    complete: function () {
                        $.unblockUI()
                    },
                    error: function (err) {
                        console.log(err);
                        alert('Error Occured!!')
                    },
                    success: function (rsp) {
                        if (rsp.success) {
                            toastr["success"](rsp.message, "OK");
                            clearForm();
                            loadData()
                            $('#mdlSetup').modal('hide');
                        } else {
                            toastr["error"](rsp.message, "ERROR");
                        }
                    }
                })
            }
        });

        $(document).on('change', '.txtFilterUsername', function () {
            loadData();
        })


        $(document).on('click', '.btnDelete', function () {
            var id = $(this).data('key');
            var result= confirm('Are you sure to delete data?');
            if(result == true){
                $.ajax({
                    method:'get',
                    contentType:'',
                    url:'@Url.Action("Delete", "Complain")?id=' + id,
                    beforeSend: function () { $.blockUI(); },
                    complete: function () { $.unblockUI(); },
                    error: function (err) { console.log(err); alert('Error Occured') },
                    success: function (rsp) {
                        if (rsp.success) {
                            toastr["success"](rsp.message, "OK");
                            loadData();
                        } else {
                            toastr["error"](rsp.message, "ERROR");
                        }
                    }
                })
            }
        })


        $(document).on('click', '.btnEdit', function () {
            var id = $(this).data('key');

            $.ajax({
                method: 'get',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUserByID", "Complain")?key=' + id,
                success: function (res) {
                    if (res.success == true) {


                $('#mdlSetup').modal('show');

                // <input type="hidden" class="hdnId" value="0" />
                $('.hdnId').val(res.data.userID) ,
                $('.txtUsername').val(res.data.username) ,
                $('.ddlComplainType').val(res.data.userGroupId),
                $('.txtPassword').val(res.data.password) ,
                $('.txtConfirmPassword').val(res.data.password) ,
                $('.txtValidFrom').val(res.data.validFrom),
                $('.txtValidTo').val(res.data.validTo),
                $('.txtFullname').val(res.data.fullname) ,
                $('.txtEmail').val(res.data.email) ,
                $('.txtContactNo').val(res.data.contactNo) ,
                $('.txtAddress').val(res.data.address)
                // $('.txtAddress').val(Selected Value: ${this.value}, Text: ${this.options[this.selectedIndex].text});

                    } else {
                        toastr["error"](res.message, "ERROR")
                    }
                },
                error: function (err) {
                    debugger;
                },
                beforeSend: function () {
                    $.blockUI();
                },
                complete: function () {
                    $.unblockUI();
                }
            })

        });


        function clearForm() {
            // $('.txtUsername').val('');
            // $('.ddlComplainType').val('');
            // $('.txtPassword').val('');
            // $('.txtConfirmPassword').val('');
            // $('.txtValidFrom').val('');
            // $('.txtValidTo').val('');
            // $('.txtFullname').val('');
            // $('.txtEmail').val('');
            // $('.txtContactNo').val('');
            // $('.txtAddress').val('');

            $('.txtFullname').val('');
            $('.txtEmail').val('');
            $('.txtContactNo').val('');
            $('.txtStatement').val('');
            $('.txtAddress').val('');
            +$('.txtCustomerNo').val('');
            $('.txtIssueDate').val('');
            $('.txtCreatedDate').val('');
            $('.ddlComplainType').val('');
            

        }



        function loadComplainType() {
            $.ajax({
                methodType: 'get',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetAllData", "ComplainType")',
                success: function (res) {
                    if (res.success) {
                        var data = res.data;

                        var xyz = '<option value=0>--select--</option>';
                        $.each(data, function (i, x) {
                            xyz += '<option value=' + x.complainTypeCode + '>' + x.complainTypeName + '</option>';
                        });
                        $('.ddlComplainType').html(xyz);

                    }
                }
            })
        }


        // function currentDate() {
        //     $('.nepdate-picker').nepaliDatePicker({
        //         dateFormat: "YYYY-MM-DD", // Customize the format
        //         closeOnDateSelect: true, // Close picker on date selection
        //         minDate: "2000-01-01",   // Set minimum selectable date
        //         maxDate: "2090-12-31"    // Set maximum selectable date
        //     });

        //     // Set the current date in Nepali format
        //     const currentDate = NepaliFunctions.ConvertDateFormat(NepaliFunctions.GetCurrentBsDate(), "YYYY-MM-DD");
        //     $('.txtCreatedDate').val(currentDate);
        // }

        function loadData() {
            var obj = {
                Fullname: $('.txtFilterFullName').val() || '',
                ContactNo: $('.txtFilterContactNo').val() || ''
            };
            $.ajax({
                method: 'post',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetAllData", "Complain")',
                data: JSON.stringify(obj),
                success: function (res) {
                    if (res.success) {
                        var data = res.data;

                        var xyz = '';
                        $.each(data, function (i, x) {
                            xyz += '<tr>';
                            xyz += '<td>' + x.complainId + '</td>';
                            xyz += '<td>' + x.fullname + '</td>';
                            xyz += '<td>' + x.email + '</td>';
                            xyz += '<td>' + x.contactNo + '</td>';
                            xyz += '<td>' + x.statement + '</td>';
                            xyz += '<td>' + x.address + '</td>';
                            xyz += '<td>' + x.customerNo + '</td>';
                            xyz += '<td>' + x.issueDate + '</td>';
                            xyz += '<td>' + x.createdDate + '</td>';
                            xyz += '<td>' + x.complainTypeID + '</td>';
                            
                            xyz += '</tr>';
                        });
                        $('.data-body').html(xyz);


                        $('.dtTable').DataTable();
                    }
                }
            })
        }

    </script>
}