@section Header {
    
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body cust-bg">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Group Name</label><br />
                                <input type="text" class="form-control txtFilterName" />
                            </div>
                            <div class="col-md-3">
                                <label>Group Code</label><br />
                                <input type="text" class="form-control txtFilterCode" />
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button type="button" class="btn btn-primary btnSearch">
                                    <i class="fa fa-search"></i> SEARCH
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="data-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body cust-bg">
                        <div class="row">
                            <div class="col-md-3">Name</div>
                            <div class="col-md-9">
                                <input type="text" class="form-control txtName" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3">Code</div>
                            <div class="col-md-9">
                                <input type="text" class="form-control txtCode" />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 text-right">
                                <input type="hidden" class="hdnId" value="0" />
                                <button type="button" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                                <button type="button" class="btn btn-danger" id="btnCancel"><i class="fa fa-refresh"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section LocalScripts {
    <script>
        $(document).ready(function () {
            loadData();
        })

        $(document).on("click", "#btnSave", function () {
            var name = $('.txtName').val();
            var code = $('.txtCode').val();
            var id = $('.hdnId').val();

            if (name == '') {
                toastr["error"]("Enter User Group Name", "Error")
            } else if (code == '') {
                toastr["error"]("Enter User Group Code", "Error")
            } else {

                $.ajax({
                    method: 'get',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("SaveData", "UserGroup")?id=' + id + '&name=' + name + '&code=' + code,
                    success: function (res) {
                        if (res.success == true) {
                            toastr["success"](res.message, "OK");
                            clearForm();
                            loadData();
                        } else {
                            toastr["error"](res.message, "ERROR")
                        }
                    },
                    error: function (err) {
                        debugger;
                    },
                    beforeSend: function () {
                        $.blockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    }
                });

            }
        })

        $(document).on('click', '#btnCancel', function () {
            var result = confirm("Are you sure to clear data?");
            if (result == true) {
                clearForm();
            }
        })

        function clearForm() {
            $('.txtName').val("")
            $('.txtCode').val("")
            $('.hdnId').val(0)
        }

        $(document).on('click', '.btnDelete', function () {
            var id = $(this).data('key');
            var result = confirm('Are you sure to delete data?');
            if (result == true) {
                $.ajax({
                    method: 'get',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("DeleteData", "UserGroup")?key=' + id,
                    success: function (res) {
                        if (res.success == true) {
                            toastr["success"](res.message, "OK");
                            loadData();
                        } else {
                            toastr["error"](res.message, "ERROR")
                        }
                    },
                    error: function (err) {
                        debugger;
                    },
                    beforeSend: function () {
                        $.blockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    }
                })
            }
        })

        $(document).on('click', '.btnEdit', function () {
            var id = $(this).data('key');

            $.ajax({
                method: 'get',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUserGroupByID", "UserGroup")?key=' + id,
                success: function (res) {
                    if (res.success == true) {
                        $('.txtName').val(res.data.userGroupName);
                        $('.txtCode').val(res.data.userGroupCode);

                        $('.hdnId').val(res.data.userGroupID);
                    } else {
                        toastr["error"](res.message, "ERROR")
                    }
                },
                error: function (err) {
                    debugger;
                },
                beforeSend: function () {
                    $.blockUI();
                },
                complete: function () {
                    $.unblockUI();
                }
            })

        });


        function loadData() {
            var name = $('.txtFilterName').val();
            var code = $('.txtFilterCode').val();

            $.ajax({
                method: 'get',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetAllData", "UserGroup")?name=' + name + '&code=' + code,
                success: function (res) {
                    if (res.success == true) {
                        var dbData = res.data;


                        var xyz = '';
                        $.each(dbData, function (i, x) {
                            xyz += '<tr>';
                            xyz += '<td>' + x.userGroupID + '</td>';
                            xyz += '<td>' + x.userGroupName + '</td>';
                            xyz += '<td>' + x.userGroupCode + '</td>';
                            xyz += '<td><button type="button" class="btn btn-warning btn-sm mr-2 btnEdit" data-key="' + x.userGroupID + '"><i class="fa fa-edit"></i> Edit</buttion><button type="button" class="btn btn-danger btn-sm btnDelete" data-key="' + x.userGroupID + '"><i class="fa fa-trash"></i> Delete</buttion><button type="button" class="btn btn-secondary btn-sm btnView" data-key="' + x.userGroupID + '"><i class="fa fa-eye"></i> View</buttion></td>'
                            xyz += '</tr>';
                        });

                        $('.data-list').html(xyz);

                    } else {
                        toastr["error"](res.message, "ERROR")
                    }
                },
                error: function (err) {
                    debugger;
                },
                beforeSend: function () {
                    $.blockUI();
                },
                complete: function () {
                    $.unblockUI();
                }
            })
        }

        $(document).on('click', '.btnSearch', function () {
            loadData();
        });

        $(document).on("click", ".btnView", function () {
            var id = $(this).data('key');
            $.ajax({
                method: 'get',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUserGroupByID", "UserGroup")?key=' + id,
                success: function (res) {
                    if (res.success == true) {
                        alert(res.data.createdDate);
                    } else {
                        toastr["error"](res.message, "ERROR")
                    }
                },
                error: function (err) {
                    debugger;
                },
                beforeSend: function () {
                    $.blockUI();
                },
                complete: function () {
                    $.unblockUI();
                }
            })


        });

    </script>
}
